_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

_feeds/*.json
_feeds/*.xml
_feeds/*.html

_html/*.html
_html/*.json
_html/*.xml

service-account-file.json
