---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.date | date: "%A %B %e, %Y" }} 
          &rarr;
        </a>
      </h1>

      <div class="entry">

        {% assign day = post.date | date: "%j" | plus: 0 %}
        {% if post.posts and site.data.stock[day] %}
        <div>
          <a href="/candy/{{ site.data.pexels[day]['slug'] }}"><img src="/images/stock/{{ site.data.pexels[day]['slug'] }}.jpg"></a><br>
          <span class="small center" ><i><a href="{{ site.data.pexels[day]['source'] }}" target="_new">{{ site.data.pexels[day]['source'] }}</a></i></span>
        </div>
        {% endif %}

        {{ post.content }}

        {% if post.posts %}
        <ol>
          {% for source in post.posts limit:13 %}
          {% if source.ignore %}
          {% else %}
              <li>
                <a href="{{ source.url }}" target="_new">{{ source.title }}</a>
                <br><span class="small wtf-t">{{source.source}}</span>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
        {% endif %}

      </div>

    </article>
  {% endfor %}
</div>

{% include paginator.html %}
