---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.date | date: "%A %B %e, %Y" }} 
          {% if post.title != "Noise" %}
            {{ post.title }}
          {% endif %}
        </a>
      </h1>

      <div class="entry">

        {% assign day = post.date | date: "%e" | plus: 0 %}
        {% if post.links and site.data.stock[day] %}
        <div>
          <img src="/images/stock/{{ site.data.stock[day]['slug'] }}.jpg"><br>
          <span class="small center" ><i><a href="{{ site.data.stock[day]['source'] }}" target="_new">{{ site.data.stock[day]['source'] }}</a></i></span>
        </div>
        {% endif %}

        {{ post.content }}

        {% if post.links %}
          <ol>
          {% for source in post.links %}
            <li>
              {% if source.snark and source.snark != "" %}
                <a href="{{ source.url }}" target="_new">{{ source.snark }}</a><br><span class="small wtf-t">{{source.source}}</span>
              {% else %}
                <a href="{{ source.url }}" target="_new">{{ source.title }}</a><br><span class="small wtf-t">{{source.source}}</span>
              {% endif %}
            </li>
          {% endfor %}
          </ol>
        {% endif %}

      </div>

    </article>
  {% endfor %}
</div>

{% include paginator.html %}
