---
layout: default
---

<article class="post">
  <h1>{{ page.date | date: "%A %B %e, %Y" }} {{ page.title }}</h1>

  {% assign day = page.date | date: "%j" | plus: 0 %}
  {% if page.posts and site.data.pexels[day] %}
  <div>
    <a href="/candy/{{ site.data.pexels[day]['slug'] }}"><img src="/images/stock/{{ site.data.pexels[day]['slug'] }}.jpg"></a><br>
    <span class="small center" ><i><a href="{{ site.data.pexels[day]['source'] }}" target="_new">{{ site.data.pexels[day]['source'] }}</a></i></span>
  </div>
  {% endif %}

  <div class="entry">
    {{ content }}

    {% if page.posts %}
      {% for source in page.posts limit:13 %}
        {% if source.ignore %}
        {% else %}
          <p>
            <a href="{{ source.url }}" target="_new">{{ source.title }}</a>
            <br>{{ source.description }}
            <br><span class="small wtf-t">{{source.source}}</span>
          </p>
        {% endif %}
      {% endfor %}
    {% endif %}

  </div>

  {% include disqus.html %}
</article>
