---
layout: default
---

<article class="post">
  <h1>{{ page.date | date: "%A %B %e, %Y" }} {{ page.title }}</h1>

  {% assign day = page.date | date: "%e" | plus: 0 %}
  {% if page.posts and site.data.stock[day] %}
  <div>
    <a href="/candy/{{ site.data.stock[day]['slug'] }}"><img src="/images/stock/{{ site.data.stock[day]['slug'] }}.jpg"></a><br>
    <span class="small"><i><a href="{{ site.data.stock[day]['source'] }}" target="_new">{{ site.data.stock[day]['source'] }}</a></i></span>
  </div>
  {% endif %}

  <div class="entry">
    {{ content }}

    {% if page.posts %}
      {% for source in page.posts %}
        <p>
          <a href="{{ source.url }}" target="_new">{{ source.title }}</a>
          <br>{{ source.description }}
          <br><span class="small wtf-t">{{source.source}}</span>
        </p>
      {% endfor %}
    {% endif %}

  </div>

  {% include disqus.html %}
</article>
