---
layout: default
title: Yet Another Stock Fitness Photo
---

<article class="page">

  {% assign words = page.slug | split: '-' %}

  {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}

  
  <h1>{{ titlecase }} Stock Photo</h1>

  <div>
    <img src="/images/stock/{{ page.slug }}.jpg"><br>
    <span class="small"><i><a href="{{ page.source }}" target="_new">{{ page.source }}</a></i></span>
  </div>

  <div class="entry">
    {{ content }}

    {% if page.pages %}
      <h2>Other Pages Using this Stock Photo:</h2>
      <ol>
      {% for page in page.pages %}
        <li>
          <a href="{{ page }}" target="_new">{{ page }}</a>
        </li>
      {% endfor %}
      </ol>
    {% endif %}

  </div>
</article>
